# We use direnv to set our local environments
# https://direnv.net/
# 
# After you have direnv setup on your local machine then copt this file, rename it to .envrc and set the variables

export GOOGLE_CLIENT_ID=""
export GOOGLE_CLIENT_SECRET=""
export TF_VAR_DATABASE_PASSWORD=""